/* Styling for the buttons inside the modal */
.modal-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .modal-button:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the open and close buttons */
  .open-button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .open-button:hover {
    background-color: #45a049;
  }
  
  .close-button {
    background-color: #f44336;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #d32f2f;
  }
  