#searchmain {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 20px;

  background-color: #f4f4f4;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.add-project {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-project {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.add-project:hover {
  background-color: #0056b3;
}

#project-main {
  display: block;

  align-items: center;
}
@media (min-width: 700px) {
  #project-main {
    display: block;
    padding: 0px 60px 0px 60px;
    margin: 30px 30px 200px 0xp;
    align-items: center;
  }
}

.project-content {
  display: block;

  margin-right: auto;
  margin-left: 10px;
}
.project-item:hover {
  transform: scale(1.1, 110%);
  transition: 0.5s;
}
.project-item {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin: 10px;
  border: 1px solid rgba(69, 67, 67, 0.321);
  border-radius: 4px;
}

.customer-name {
  font-size: 1.3rem;
}

.sl-no,
.contract-no {
  font-size: 0.7rem;
  color: gray;
}
.delete-button {
  margin-left: auto;
}

.delete-icon {
  font-size: 24px;
  color: red;
  margin-right: 5px;
}

/* Header styles */
.project-details-header {
  color: #240505d4;
  text-align: center;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Subtle shadow */
}
