#content{
    padding: 10px;
    margin: auto;
}

/* input{
    width: auto; /* Allow input elements to adjust their width based on content 
            box-sizing: border-box; 
} */

/* table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
} */

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 0px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    /* resize: vertical; Allow vertical resizing */
}