.maintable{
    border-collapse: collapse;
    width: 100%;
  }
.titletable{
  border-collapse: collapse;
  width: 100%;
}
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  input, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .iconbox{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
    padding: auto;
    
  }
  .buttonbox{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
    padding: auto;
  }
  #tablecontent{
   justify-content: center;
   align-items: center;
    width: 80%;
  }